
* {
   font: 20px "Comic Sans MS";
}

.ok1 {
   font-weight: bold;
   display: block; 
   text-align: center;
   text-transform: capitalize;
   text-decoration: underline;
   width: 250px;

}
.ok2 {
   background-color: yellow;
   
   width: 300px;


}
.ok3 {
   background-color: yellow;
   font-weight: bold;
   color: #f00;
   width: 400px;
}
.ok4 { 
   display: inline-block;
   background-color: #000;
   font-weight: none;
   font: italic 30px "Times New Roman";
   color: #fff;
}